<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Portal Page</title>
</head>

<body>
    <form name="login" action="/authorize" method="post">
        <input id="submit" type="submit" name="submit" value="Connect" />
    </form>
</body>

</html>